$bg-color: rgb(240, 240, 225);

html{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: $bg-color;
  margin: 0;
  font-size: large;

  /* скролл бар ( стандартный бесит ) */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 7vh;
  margin: 0;
  padding: 0;
  background: wheat;
  > *{
    display: flex;
    align-items: center;
  }
}
nav {
  display: flex;
  align-items: center;
  background: sandybrown;
  a{
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.3) inset,
    -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
    &:hover{
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset,
      -1px -1px 1px rgba(255, 255, 255, 0.1) inset;
    }
    &:active{
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) inset,
      -2px -2px 4px 2px rgba(255, 255, 255, 0.1) inset;
    }
  }
}
.desktop{
  display: none;
  flex-direction: row;
  a{
    font-size: small;
  }
  padding: 0 10px;
}
.mobile {
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-content: space-between;
  a{
    font-size: x-large;
  }

}

.name {
  margin-left: 10px;
  margin-right: 10px;
}

.logo{
  float: left;
  height: 5vh;
  width: 10vw;
  margin: 10px 0 0 10px;
}
.content-container{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  > *{
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}



.hyper-list{
  background: bisque;
  display: block;
  list-style-type:  none;
  width: 90vw;
  padding-left: 2vw;
  li {
    margin: 4px 0 4px 0;
  }
}


table{
  max-width: 800px;
  width: 90vw;
  height: 80vh;
  background: bisque;
  font-size: large;
  td{
    text-align: center;
  }
  th{
    background: rgb(222, 176, 101);
  }
  .error{
    background: rgba(255,0,0,0.5);
  }
  /*нечетные элементы среди тех, что имеют детей td без класса "error" (чтобы не считать заголовки и ошибки)*/
  tr:nth-child(even of :has(td:not(.error))){
    background: rgb(203, 185, 155);
  }

}

form {
  max-width: 800px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: bisque;

  >label:not(:has(.checkbox)),>.poem-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label:has(.radio){
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h2 {
    display: block;
  }

  label:has(.checkbox) {
    font-size: small;
  }
  .radio, .checkbox{
    transform: scale(1.5);
  }
  input:not(.radio, .checkbox), select, textarea {
    text-align: center;
    font-size: large;
  }
}

footer{
  display: flex;
  align-items: center;
  width: 100%;
  background: wheat;
  height: 5vh;

  *{
    display: inline-block;
    margin: 10px 0 10px 0;
  }
  .foo-body{
    margin: 0 10px 0 10px;
  }

}

@media only screen and (min-width: 800px) {


  body{
    font-size: small;
  }
  table{
    font-size: small;
  }
  form{
    font-size: small;
    label:has(.checkbox) {
      font-size: small;
    }
    input:not(.radio, .checkbox), select, textarea {
      text-align: center;
      font-size: small;
      height: 2vh;
    }
  }

  .logo{
    width: 3vw;
    height: 5vh;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
  }
  .desktop{
    display: flex;
  }
  .mobile{
    display: none;
  }

}
